{% extends 'layout.html' %}
{% block content %}
<div class="bs-component" style="padding-top: 100px">
  <h3 class="text-center">binds</h3>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">identity</th>
        <th scope="col">filters</th>
        <th scope="col">tasks</th>
        <th scope="col">errors</th>
        <th scope="col">replicas</th>
      </tr>
    </thead>
    <tbody>
      {% for (queue_name, queue) in queues|dictsort %}
      <tr>
        <td>
          <a href="queue/{{ queue_name }}">{{ queue_name }}</a>
          <div>
            <span class="badge badge-info" title="karton-core library version">
              📦v{{ queue.bind.version }}
            </span>
            {% if queue.bind.service_version %}
              <span class="badge badge-secondary" title="service package version">
                v{{ queue.bind.service_version }}
              </span>
            {% endif %}
            {% if not queue.bind.persistent %}
                <span class="badge badge-danger">non-persistent</span>
            {% endif %}
            {% if not queue.bind.info %}
                <span class="badge badge-danger">undocumented</span>
            {% endif %}
          </div>
        </td>
        <td>
          {% for filter in queue.bind.filters %}
          <div>
            {% for filtername, filterval in filter.items() %}
            {% if filtername == 'type' %}
            <span class="badge badge-primary">{{filtername}}:{{filterval}}</span>
            {% elif filtername == 'kind' %}
            <span class="badge badge-info">{{filtername}}:{{filterval}}</span>
            {% elif filtername == 'stage' %}
            <span class="badge badge-success">{{filtername}}:{{filterval}}</span>
            {% else %}
            <span class="badge badge-secondary">{{filtername}}:{{filterval}}</span>
            {% endif %}
            {% endfor %}
          </div>
          {% endfor %}
        </td>
        <td>
          {% set length = queue.pending_tasks | length %}
          {% if length == 0 %}
          <span class="badge badge-success">{{length}}</span>
          {% elif length < 25 %}
          <span class="badge badge-warning">{{length}}</span>
          {% else %}
          <span class="badge badge-danger">{{length}}</span>
          {% endif %}
        </td>
        <td>
          {% set length = queue.crashed_tasks | length %}
          {% set url = url_for("get_crashed_queue", queue_name=queue_name) %}
          {% set badgeClass = "badge-success" if length == 0 else "badge-danger" %}
          <span class="badge {{badgeClass}}">
              <a href={{url}} style="color: inherit">{{length}}</a>
          </span>
        </td>
        <td>
          {% if queue.online_consumers_count == 0 %}
          <span class="badge badge-danger">{{queue.online_consumers_count}}</span>
          {% else %}
          <span class="badge badge-success">{{queue.online_consumers_count}}</span>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
