{% extends 'layout.html' %}
{% block content %}
<div class="bs-component" style="padding-top: 100px">
  <h3 class="text-center">analysis {{ analysis.rootid }}</h3>
  <dl class="row">
    <dt class="col-3">Xrefs</dt>
    <dd class="col-9">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <a href="https://buzz.cert.pl:8000/en-GB/app/search/karton_task_information?form.TASKUID={{analysis.rootid}}"
          class="btn btn-sm btn-secondary">
          view in splunk
        </a>
        <a href="https://mwdb.cert.pl/?q=meta.karton2%3A{{analysis.rootid}}" class="btn btn-sm btn-secondary">
          find in mwdb
        </a>
      </div>
    </dd>
  </dl>
  <h4>Tasks</h4>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">identity</th>
        <th scope="col">task</th>
        <th scope="col">headers</th>
      </tr>
    </thead>
    <tbody>
      {% for identity, tasks in analysis.queues.items() %}
      <tr>
        <td colspan="3"><b>{{identity}}</b></td>
      </tr>
      {% for task in tasks %}
      <tr>
        <td>
          <a href="/queue/{{identity}}">{{identity}}</a>
        </td>
        <td>
          <a href="/task/{{task.taskid}}">{{ task.taskid }}</a>
        </td>
        <td>
          {% if task.data['priority'] != 'normal' %}
          <span class="badge badge-dark">{{task.data['priority']}}</span>
          {% endif %}
          <span class="badge badge-light">{{task.data['status']}}</span>
          {% for hdrname, hdrval in task.data['headers'].items() %}
          {% if hdrname == 'type' %}
          <span class="badge badge-primary">{{hdrname}}:{{hdrval}}</span>
          {% elif hdrname == 'kind' %}
          <span class="badge badge-info">{{hdrname}}:{{hdrval}}</span>
          {% elif hdrname == 'stage' %}
          <span class="badge badge-success">{{hdrname}}:{{hdrval}}</span>
          {% elif hdrname == 'receiver' %}
          {% else %}
          <span class="badge badge-secondary">{{hdrname}}:{{hdrval}}</span>
          {% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
