{% extends 'queue_layout.html' %}
{% block tasks %}
<h4>Crashed tasks</h4>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">task</th>
      <th scope="col">headers</th>
      <th scope="col">exception</th>
      <th scope="col">retry</th>
    </tr>
  </thead>
  <tbody>
    {% for task in queue.crashed_tasks %}
    <tr>
      <td>
        <a href="/task/{{ task.uid }}">{{ task.uid }}</a>
      </td>
      <td>
        {% if task.priority != 'normal' %}
        <span class="badge badge-dark">{{task.priority}}</span>
        {% endif %}
        <span class="badge badge-light">{{task.status}}</span>
        {% for hdrname, hdrval in task.headers.items() %}
        {% if hdrname == 'type' %}
        <span class="badge badge-primary">{{hdrname}}:{{hdrval}}</span>
        {% elif hdrname == 'kind' %}
        <span class="badge badge-info">{{hdrname}}:{{hdrval}}</span>
        {% elif hdrname == 'stage' %}
        <span class="badge badge-success">{{hdrname}}:{{hdrval}}</span>
        {% elif hdrname == 'receiver' %}
        {% else %}
        <span class="badge badge-secondary">{{hdrname}}:{{hdrval}}</span>
        {% endif %}
        {% endfor %}
      </td>
      <td>
        {{ task.error[-1] }}
      </td> 
      <td>
          <form action={{url_for("restart_task", task_id=task.uid)}} method="POST" id="restartTask">
          <button class="btn btn-dark" type="submit" form="restartTask" value="Submit">⭯</button>
          </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
